body{
    background-color:#cae1ff;
}
#statusCode{
    font-size: 108px;
    background-color: #0000ff;
    width: 260px;
    border-radius: 100px;
    color: #cae1ff;
    top: 16%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}
#statusReason {
    font-size: 48px;
    position: absolute;
    left: 50%;
    color: #0000ff;
    top: 32%;
    transform: translate(-50%, -50%);
    width: 500px;
}
#tipsBox{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bbbbff;
    border-radius: 30px;
    padding: 20px;
}
#wayBox{
    line-height: 60px;
    font-size: 20px;
    border-radius: 20px;
    width: 350px;
}
#linkTitle{
    font-size: 24px;
    color: #0000ff;
    width: 500px;
    text-align: center;
}
#linkBox{
    line-height: 60px;
    font-size: 20px;
    border-radius: 20px;
    width: 350px;
}