@keyframes backgroundChane{
    from{
        background-color: #ffffff;
    }to{
        background-color: #c9c9ff;
    }
}
@keyframes  headerChane{
    from{
        background-color: #ffffff;
        width: 0;
    }to{
        width: 100%;
        background-color: #8A8AFF;
    }
}
@keyframes  docsChane{
    from{
        background-color: #ffffff;
    }to{
        background-color: rgba(159 159 255/50%);
    }
}
@keyframes  mainChane{
    from{
        filter: opacity(0%);
    }to{
        filter: opacity(100%);
    }
}@keyframes  watermarkChane{
    from{
        filter: opacity(100%);
    }to{
        filter: opacity(10%);
    }
}@keyframes linkGroupChane{
    0%{
        filter: opacity(0%);
    }60%{
        filter: opacity(0%);
    }
    100%{
        filter: opacity(100%);
    }
}@keyframes codeChane{
    0%{
        filter: opacity(0%);
        width: 0%;
    }60%{
        filter: opacity(0%);
        width: 0%;
    }
    100%{
        filter: opacity(100%);
        width: 90%;
    }
}
body{
    animation-name: backgroundChane;
    animation-duration: 1s;
    background-color: #c9c9ff;
}
header{
    animation-name: headerChane;
    animation-duration: 1s;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 10px;
    border-radius: 30px;
    height: 60px;
    background-color: #8A8AFF;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
#titleGroup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#title{
    color: #0000ff;
    white-space: nowrap;
}
#linkGroup{
    animation-name: linkGroupChane;
    animation-duration: 1s;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#c9c9ff
}
#toDocsMainPage,#toMainPage,#toContactInformation{
    white-space: nowrap;
    margin-top:5px;
    margin-bottom:5px;
    position: relative;
    background-color: #ff4e4e;
    height: 20px;
    border-radius: 10px;
    width: 80px;
}
.mainLink{
    text-align: center;
    width: 80px;
    line-height: 20px;
    position: absolute;
    color:#c9c9ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#docs{
    animation-name: docsChane;
    animation-duration: 1s;
    overflow: hidden;
    margin-top:110px;
    margin-bottom:5px;
    margin-left:10%;
    margin-right:10%;
    border-radius: 20px;
    background-color: rgba(159 159 255/50%);
    position: relative;
    padding: 20px;
}
#main{
    animation-name: mainChane;
    animation-duration: 1s;
    position: relative;
    z-index:1
}
#main p,#main ul,#main ol{
    margin-left: 20px;
}
table,
td,
th {
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}
#main table{
    margin-left: 120px;
}
#watermark{
    animation-name: watermarkChane;
    animation-duration: 1s;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:opacity(10%);
    z-index:0
}
.code{
    position: relative;
    overflow: hidden;
    animation-name: codeChane;
    animation-duration: 1.5s;
    background-color: rgba(255, 0, 0, 0.169);
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.codeCopy{
    transition-duration: 0.3s;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    right: 0px;
    transform: scale(0.7);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    color: #9c9c9c;
    cursor: pointer;
    overflow: hidden;
}
.codeCopy:hover{
    transform: scale(0.9);
    color: #ffffff;
}
#BGLines{
    position: fixed;
    /* width: 100%;
    height: 100%; */
    z-index: -1;
    top: 0;
    left: 0;
}
:-webkit-scrollbar {

    width: 12px;

    height: 12px;

}

::-webkit-scrollbar-track-piece {

    background-color: transparent;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:vertical {

    height: 12px;

    background-color: #BDBDBD;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:horizontal {

    width: 12px;

    background-color: #BDBDBD;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {

    background-color: #808080;

}
div#user a {
    animation: linkGroupChane 1s;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-decoration-line: none;
    transition: 0.3s;
    color: #ffffff;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
div#user a.login{
    background: linear-gradient(to right bottom, #ff0000, #ff0033, #ff0055, #ff0074, #ff0091);
}
div#user a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0;
    transition: 0.3s;
}
div#user a:hover::after{
    opacity: 1;
}
div#user a:hover{
    transform: scale(1.05) translate(0,-50%);
}
div#user a.login::after{
    background-image: linear-gradient(to left top, #ff0000, #ff3e00, #ff5b00, #ff7100, #ff8500);
}
div#user a.user::after{
    background-image: linear-gradient(to right bottom, #5546ff, #9647f8, #c24bf1, #e354ea, #ff62e4);
}
div#user a.user{
    background: linear-gradient(to right bottom, #004eff, #8541f3, #bb2fe3, #e118d1, #ff00bd);
}
code{
    border-radius: 10px;
    font-family: auto;
    position: relative;
}.download{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    color: #000000;
}
.download:hover{
    transform: scale(1.2);
    color: #ff0000;
}