@keyframes  headerChane{
    0%{
        background-color: #ffffff;
        width: 0;
    }100%{
        width: 100%;
        background-color: #8A8AFF;
    }
}
@keyframes linkGroupChane{
    0%{
        filter: opacity(0%);
    }60%{
        filter: opacity(0%);
    }
    100%{
        filter: opacity(100%);
    }
}

body{
    background-color: #c9c9ff;
}
header{
    animation-name: headerChane;
    animation-duration: 1s;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 10px;
    border-radius: 30px;
    height: 60px;
    background-color: #8A8AFF;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
#titleGroup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#title{
    color: #0000ff;
    white-space: nowrap;
}
#linkGroup{
    animation-name: linkGroupChane;
    animation-duration: 1s;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#c9c9ff
}
div#user a {
    animation: linkGroupChane 1s;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-decoration-line: none;
    transition: 0.3s;
    color: #ffffff;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
div#user a.login{
    background: linear-gradient(to right bottom, #ff0000, #ff0033, #ff0055, #ff0074, #ff0091);
}
div#user a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0;
    transition: 0.3s;
}
div#user a:hover::after{
    opacity: 1;
}
div#user a:hover{
    transform: scale(1.05) translate(0,-50%);
}
div#user a.login::after{
    background-image: linear-gradient(to left top, #ff0000, #ff3e00, #ff5b00, #ff7100, #ff8500);
}
div#user a.user::after{
    background-image: linear-gradient(to right bottom, #5546ff, #9647f8, #c24bf1, #e354ea, #ff62e4);
}
div#user a.user{
    background: linear-gradient(to right bottom, #004eff, #8541f3, #bb2fe3, #e118d1, #ff00bd);
}
#list{
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    padding-top: 80px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0;
}
#list::-webkit-scrollbar{
    width: 0px;
}
a{
    text-decoration-line: none;
    color:unset;
}
@keyframes itemin {
    0%{
        transform: translate(-80px,-200px);
        opacity: 0;
    }100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
#main{
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    z-index: -1;
}
.item{
    opacity: 0;
    margin: 10px;
    padding: 30px;
    background-image: linear-gradient(60deg, #ff41ad, #ec56c8, #d369df, #b57aef, #9388fa, #689cff, #39adff, #00baff, #00cffd, #00e1f2, #55f1e3, #90ffd3);
    border-radius: 10px;
    transition: 0.3s;
    width: 250px;
    position: absolute;
    pointer-events: none;
}
.item:hover{
    transform: translate(0,-5px) scale(1.05);
}
.item h2{
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
    word-break: break-all;
}
.item .time{
    font-size: 12px;
    text-overflow:ellipsis;
    margin: 0;
    margin-left: 10px;
}
.item .user{
    font-size: 20px;
    text-overflow:ellipsis;
    margin: 0;
}.item .statue{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1000px;
}
.item .statue.Waiting{
    background-image: linear-gradient(to right bottom, #42d600, #8ab200, #a98d00, #b66600, #b33e00);
}
.item .statue.A1{
    background-image: linear-gradient(to right bottom, #0000ff, #7a00ff, #af00ff, #d900ff, #fe00ff);
}
.item .statue.A2{
    background-image: linear-gradient(to right bottom, #4f4fff, #8d52ff, #b856ff, #dd5dff, #fe66ff);
}.item .statue.A3{
    background-image: linear-gradient(to right bottom, #7c7cff, #a481ff, #c686ff, #e48cff, #fe94ff);
}.item .statue.B1{
    background-image: linear-gradient(to right bottom, #ff007a, #ff1162, #ff2a49, #ff422e, #ff5800);
}.item .statue.B2{
    background-image: linear-gradient(to right bottom, #ff429d, #ff4c83, #ff5d6b, #ff7155, #ff8544);
}
.item .statue.B3{
    background-image: linear-gradient(to right bottom, #ff7cbb, #ff82a5, #ff8c91, #ff9982, #ffa778);
}
.item .statue.Finish{
    background-image: linear-gradient(to right bottom, #ff0000, #ff2900, #ff3d00, #ff4b00, #ff5800);
}
#add{
    color: #0000ff;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 100px;
    font-size: 48px;
    margin: 0;
    transform: translate(-50%,0);
    transition: 0.3s;
    cursor: pointer;
}
#add:hover{
    color: #5e5eff;
    transform: translate(-50%,0) scale(1.1);
}
#more{
    transition: 0.3s;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%,0);
    outline: none;
    border: none;
    background: #004eff;
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    border-radius: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
#more:hover{
    color: #baffb1;
    background: #ff3ed5;
    transform: translate(-50%,0) scale(1.2);
}
#more.disabled{
    background: #5e5e5e;
    pointer-events: none;
}