
@keyframes  headerChane{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes linkGroupChane{
    0%{
        transform: translate(-50%,-50%) scale(0.8);
        filter: blur(10px);
        opacity: 0;
    }50%{
        transform: translate(-50%,-50%) scale(0.8);
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        transform: translate(0,-50%) scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}
div#user a {
    animation: linkGroupChane 1s;
    font-size: 16px;
    margin: 0;
    padding: 6px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-decoration-line: none;
    transition: 0.3s;
    color: #ffffff;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
div#user a.login{
    background: linear-gradient(to right bottom, #ff0000, #ff0033, #ff0055, #ff0074, #ff0091);
}
div#user a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
}
div#user a:hover::after{
    opacity: 1;
}
div#user a:hover{
    transform: scale(1.05) translate(0,-50%);
}
div#user a.login::after{
    background-image: linear-gradient(to left top, #ff0000, #ff3e00, #ff5b00, #ff7100, #ff8500);
}
div#user a.user::after{
    background-image: linear-gradient(to right bottom, #5546ff, #9647f8, #c24bf1, #e354ea, #ff62e4);
}
div#user a.user{
    background: linear-gradient(to right bottom, #004eff, #8541f3, #bb2fe3, #e118d1, #ff00bd);
}
header{
    animation-name: headerChane;
    animation-duration: 1s;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #8484ff80;
    backdrop-filter: blur(3px);
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
#titleGroup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#title{
    color: #0000ff;
    white-space: nowrap;
}
#linkGroup{
    animation-name: linkGroupChane;
    animation-duration: 1s;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#c9c9ff
}
#toDocsMainPage,#toMainPage,#toContactInformation{
    white-space: nowrap;
    margin-top:5px;
    margin-bottom:5px;
    position: relative;
    background-color: #ff4e4e;
    height: 20px;
    border-radius: 10px;
    width: 80px;
}
.mainLink{
    text-align: center;
    width: 80px;
    line-height: 20px;
    position: absolute;
    color:#c9c9ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}