body {
    animation: backGroundChange 20s infinite;
}
@keyframes backGroundChange {
    0% {
        background-color: #ffffff;
    }

    5% {
        background-color: #e4e4ff;
    }
    30% {
        background-color: #d2d2ff;
    }

    50% {
        background-color: #c9c9ff;
    }

    80% {
        background-color: #d2d2ff;
    }
    95% {
        background-color: #e4e4ff;
    }
    100% {
        background-color: #ffffff;
    }
}
@keyframes HelloTitleChange {
    0% {
        font-size: 0%;
        top: 50%;
        color: #ffffff;
        background-color: rgba(0,0,255,0);
    }

    25% {
        font-size: 96px;
        top: 50%;
        color: #0000ff;
    }
    75%{
        font-size: 96px;
        top: 50%;
        color: #0000ff;
        background-color: rgba(0,0,255,0);
    }100%{
        font-size: 50px;
        top: 20%;
        color: #c9c9ff;
        background-color: rgba(0,0,255,1);
    }
}
h1#HelloTitil {
    /* text-align: center; */
    animation: HelloTitleChange 3s;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: #c9c9ff;
    background-color: #0000ff;
    white-space: nowrap;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    border-radius: 60px;
}
@keyframes linkBoxChange {
    0% {
        opacity: 0.0;
        top: 60%;
    }

    62.5% {
        opacity: 0.0;
        top: 60%;
    }
    75%{
        opacity: 1.0;
        top: 45%;
    }100%{
        opacity: 1.0;
        top: 45%;
    }
}
#mainLinkBox{
    animation: linkBoxChange 4s;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
}
p.linkContent {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}@keyframes linkGroupChange {
    0% {
        background-color: #aeaeff;
    }

    50% {
        background-color: rgb(255, 192, 213);
    }
    100% {
        background-color: #aeaeff;
    }
}
.linkGroup:hover,.linkGroup:focus,.linkGroup:active{
    transform: scale(1.1);
}
.linkGroup {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    animation: linkGroupChange 10s infinite;
    float: left;
    margin: 10px;
    /* padding: 30px; */
    /* padding-right: 60px; */
    /* padding-left: 60px; */
    background-color: #aeaeff;
    width: 300px;
    height: 150px;
    position: initial;
    border-radius: 20px;
}h2.linkTitle {
    text-align: center;
    font-size: 36px;
    overflow: hidden;
    margin-bottom: 10px;
}#linkLine{
    width: 640px;
}#linkLine>a {
    color: #000000;
}