#nav:hover,#nav:focus,#nav:active{
    width: 300px;
    background-color: #ffb9b9;
    border-radius: 20px;
}
#nav{
    overflow: hidden;
    position: fixed;
    top: 20%;
    width: 14px;
    background-color: rgb(145, 255, 0);
    background-image: linear-gradient(to right bottom, #ff7049, #ff525e, #ff2e79, #ff009b, #e900c0);
    z-index: 100;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 24px;
    border-radius: 7px;
}#nav li:hover,#nav li:focus,#nav li:active{
    transform: scale(1.1);
    background-color: #ffa5a5;
}
#nav:hover #navHoverBackground,#nav:focus #navHoverBackground,#nav:active #navHoverBackground{
    opacity: 1;
}
#navHoverBackground{
    background-image: linear-gradient(to left top, #ff2392, #ff4478, #ff6462, #ff8154, #ff9c4e);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.34, 0.25, 0.23, 1.03);
}
#nav li:hover>a{
    color:#3b3100
}
#nav li:hover>.linkHoverBackGround{
    opacity: 1;
}
#nav .linkHoverBackGround{
    background-image: linear-gradient(to right bottom, #ffbd3c, #ffaf3b, #ffa03b, #ff923e, #ff8342, #f38836, #e78c2c, #da9022, #b6a320, #8eb13c, #60bb62, #00c18c);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.34, 0.25, 0.23, 1.03);
}
#nav li{
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    white-space: nowrap;
    margin: 10px;
    background-image: linear-gradient(to right bottom, #f7f2cb, #cdd8a4, #9cbf83, #65a66a, #008e59);
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    overflow: hidden;
    z-index: 103;
}#nav>ul{
    padding: 20px;
    z-index: 102;
    position: relative;
}
#nav a{
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #0000ff;
    text-decoration: none;
    z-index: 120;
}#nav p{
    margin: 0;
    text-align: center
    
}#nav li:hover #helpSonNav{
    background-color: #ffa0a0;
    height: 200px;
    border-radius: 20px;
}
#helpSonNav{
    margin-left: 20px;
    z-index: 104;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 8px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: rgb(145, 255, 0);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0;
    
}
#helpSonNav li{
    z-index: 106;
}
#helpSonNav ul{
    z-index: 105;
}
#helpSonNav a{
    color: #0000ff;
    font-size: 16px;
}#helpSonNav li:hover a{
    color: #3b3100;
}#helpSonNav ul{
    padding: 0;
    margin-left: 0;
}#helpSonNav .linkHoverBackGround{
    background-image: linear-gradient(to right bottom, #ffbd3c, #ffaf3b, #ffa03b, #ff923e, #ff8342, #ff783f, #ff6d3c, #ff603b, #ff5230, #ff4226, #ff2d1b, #ff0010);
}
#nav li li{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity:0;
}#nav li:hover li{
    opacity:1;
}
#helpSonNav::-webkit-scrollbar {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 0px;
}#nav li:hover div::-webkit-scrollbar{
    width: 12px;
}
#phonenav:hover,#phonenav:focus,#phonenav:active{
    width: 300px;
    height: 70%;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#phonenav{
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 20%;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: rgb(145, 255, 0);
    background-image: linear-gradient(to left top, #f3507c, #ff7666, #ffa157, #ffcd57, #f9f871);
    z-index: 100;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 24px;
    border-radius: 30px;
}
#phonenav::-webkit-scrollbar {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 0px;
}
#phonenav:hover li,#phonenav:focus li,#phonenav:active li{
    opacity: 1;
}
#phonenav li:hover,#phonenav li:focus,#phonenav li:active{
    transform: scale(1.1);
    background-color: #ffa5a5;
}
#phonenav:hover #navHoverBackground,#phonenav:focus #navHoverBackground,#phonenav:active #navHoverBackground{
    opacity: 1;
}
#phonenav #navHoverBackground{
    background-image: linear-gradient(to right bottom, #f9f871, #fee05c, #ffc74d, #ffae45, #ff9443, #ff8246, #ff704b, #ff5d52, #ff4d5a, #ff3c64, #ff266f, #ff007c);
    position: fixed;
    top: 20%;
    left: 0;
    /* box-sizing: content-box; */
    width: 300px;
    height: 70%;
    z-index: 0;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.34, 0.25, 0.23, 1.03);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 30px; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: none;
}
#phonenav li:hover>a{
    color:#3b3100
}
#phonenav li:hover>.linkHoverBackGround{
    opacity: 1;
}
#phonenav .linkHoverBackGround{
    background-image: linear-gradient(to left top, #b97a00, #cf534a, #b44a81, #71599e, #005f92);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.34, 0.25, 0.23, 1.03);
}
#helpNav:hover {
    transform: scale(1) !important;
}
#phonenav li{
    opacity: 0;
    position: relative;
    z-index: 103;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    white-space: nowrap;
    margin: 10px;
    background-image: linear-gradient(to left top, #ffbd3c, #d2ce44, #a1da64, #6be28d, #00e5ba);
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    overflow: hidden;
}#phonenav>ul{
    padding: 20px;
    z-index: 102;
    position: relative;
}
#phonenav a{
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #0000ff;
    text-decoration: none;
    z-index: 120;
}#phonenav p{
    margin: 0;
    text-align: center
    
}
#helpSonPhoneNav{
    margin-left: 20px;
    z-index: 104;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 6px;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 0;
}
#helpSonPhoneNav li{
    z-index: 106;
    background-image: linear-gradient(to left top, #00c18c, #00bcb8, #00b2e2, #00a4fd, #008dff);
}
#helpSonPhoneNav ul{
    z-index: 105;
}
#helpSonPhoneNav a{
    color: #0000ff;
    font-size: 16px;
    z-index: 120;
}#helpSonPhoneNav li:hover a{
    color: #3b3100;
}#helpSonPhoneNav ul{
    padding: 0;
    margin-left: 0;
}#helpSonPhoneNav .linkHoverBackGround{
    background-image: linear-gradient(to left top, #b823e7, #ff00a1, #ff415b, #ff931d, #eece13);
}