body{
    background-color: #c9c9ff;
}
#main{
    position: absolute;
    top: 80px;
    margin-bottom: 100pxs;
    width: 90%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #9595ff;
    padding: 20px;
    border-radius: 20px;
}
#dataTitle{
    font-size: 36px;
    display: inline;
}
#dataContent{
    padding: 30px;
    border-radius: 10px;
    background: #b9b9ff;
    font-size: 20px;
}
#dataRecirculationStep{
    padding: 30px;
    border-radius: 10px;
    background: #b9b9ff;
    font-size: 20px;
}
#dataRecirculationStep.empty{
    background-color: transparent;
    color:#3f3f3f;
}
#dataRecirculationStep.empty::after{
    content: "作者没有提供复现步骤";
}
#dataReply{
    padding: 30px;
    border-radius: 10px;
    background: #b9b9ff;
    font-size: 20px;
}#dataReply.empty{
    background-color: transparent;
    color:#3f3f3f;
}#dataReply.empty::after{
    content: "管理员暂未予以回复";
}
#dataStatue{
    padding-left: 10px;
    padding-right: 10px;
    background: #0000ff;
    border-radius: 1000px;
    position: absolute;
    margin-left: 10px;
    display: inline;
}#dataStatue.select{
    padding-right: 30px;
}
#dataStatue.Waiting{
    background-image: linear-gradient(to right bottom, #42d600, #8ab200, #a98d00, #b66600, #b33e00);
}
#dataStatue.A1{
    background-image: linear-gradient(to right bottom, #0000ff, #7a00ff, #af00ff, #d900ff, #fe00ff);
}
#dataStatue.A2{
    background-image: linear-gradient(to right bottom, #4f4fff, #8d52ff, #b856ff, #dd5dff, #fe66ff);
}
#dataStatue.A3{
    background-image: linear-gradient(to right bottom, #7c7cff, #a481ff, #c686ff, #e48cff, #fe94ff);
}
#dataStatue.B1{
    background-image: linear-gradient(to right bottom, #ff007a, #ff1162, #ff2a49, #ff422e, #ff5800);
}
#dataStatue.B2{
    background-image: linear-gradient(to right bottom, #ff429d, #ff4c83, #ff5d6b, #ff7155, #ff8544);
}
#dataStatue.B3{
    background-image: linear-gradient(to right bottom, #ff7cbb, #ff82a5, #ff8c91, #ff9982, #ffa778);
}
#dataStatue.Finish{
    background-image: linear-gradient(to right bottom, #ff0000, #ff2900, #ff3d00, #ff4b00, #ff5800);
}
#save{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #0000ff;
    cursor: pointer;
    background: #c9c9ff;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1000px;
    transition: 0.3s;
}
#save:hover,#delete:hover{
    background: #9494ff;
    color: #ff0000;
    transform: scale(1.2);
}
#delete{
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 30px;
    color: #0000ff;
    cursor: pointer;
    background: #c9c9ff;
    margin: 0;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 1000px;
    transition: 0.3s;
}
code {
    border-radius: 10px;
}