
body{
    background-color: #c9c9ff;
}
#main{
    position: absolute;
    top: 80px;
    margin-bottom: 100pxs;
    width: 90%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #9595ff;
    padding: 20px;
    border-radius: 20px;
}
code {
    border-radius: 10px;
}
.markdown{
    margin-bottom: 20px;
}