@keyframes backgroundChane{
    from{
        background-color: #ffffff;
    }to{
        background-color: #c9c9ff;
    }
}
@keyframes  docsChane{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes  mainChane{
    from{
        filter: opacity(0%);
    }to{
        filter: opacity(100%);
    }
}@keyframes  watermarkChane{
    from{
        opacity: 1;
    }to{
        opacity: 0.3;
    }
}@keyframes codeChane{
    0%{
        filter: opacity(0%);
        width: 0%;
    }60%{
        filter: opacity(0%);
        width: 0%;
    }
    100%{
        filter: opacity(100%);
        width: 90%;
    }
}
body{
    animation-name: backgroundChane;
    animation-duration: 1s;
    background-color: #c9c9ff;
}
#docs{
    animation-name: docsChane;
    animation-duration: 1s;
    margin-top:110px;
    margin-bottom:5px;
    margin-left:10%;
    margin-right:10%;
    border-radius: 5px;
    position: relative;
    backdrop-filter: blur(5px);
    padding: 20px;
    background: #0000ff05;
}
#main{
    animation-name: mainChane;
    animation-duration: 1s;
    position: relative;
    z-index:1
}
#main p,#main ul,#main ol{
    margin-left: 20px;
}
table,
td,
th {
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}
#main table{
    margin-left: 120px;
}
#watermark{
    animation-name: watermarkChane;
    animation-duration: 1s;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: -1;
    filter: blur(20px);
    width: 40%;
}
.code{
    position: relative;
    overflow: hidden;
    animation-name: codeChane;
    animation-duration: 1.5s;
    background-color: rgba(255, 0, 0, 0.169);
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.codeCopy{
    transition-duration: 0.3s;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    right: 0px;
    transform: scale(0.7);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    color: #9c9c9c;
    cursor: pointer;
    overflow: hidden;
}
.codeCopy:hover{
    transform: scale(0.9);
    color: #ffffff;
}
#BGLines{
    position: fixed;
    /* width: 100%;
    height: 100%; */
    z-index: -1;
    top: 0;
    left: 0;
}
:-webkit-scrollbar {

    width: 12px;

    height: 12px;

}

::-webkit-scrollbar-track-piece {

    background-color: transparent;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:vertical {

    height: 12px;

    background-color: #BDBDBD;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:horizontal {

    width: 12px;

    background-color: #BDBDBD;

    -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {

    background-color: #808080;

}
code{
    border-radius: 10px;
    font-family: auto;
    position: relative;
}.download{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    color: #000000;
}
.download:hover{
    transform: scale(1.2);
    color: #ff0000;
}